<%= form_for :task do |f|-%>
  <div><%= f.text_field :name, placeholder: t('name') %></div>
  <div><%= f.text_field :description, placeholder: t('description') %></div>
  <div><%= f.text_field :importance, placeholder: t('importance') %></div>
  <div><%= f.date_select :expiry, order: [:day, :month, :year] %></div>
  <div><%= f.submit t("save") %></div>
<% end %>

